* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 2px;
}

body {
    background: linear-gradient(to right, rgb(18, 18, 20), rgb(18, 18, 20));
}

.container {
    max-width: 500px;
    margin: auto;
    padding: 24px;
    text-align: center;
   
    color: antiquewhite;
}

.text {
    font-size: 18px;
    padding: 12px;
}

input {
    background: transparent;
    color: antiquewhite;
    border: none;
    border-bottom: 1px solid rgb(202, 190, 175);
    width: 375px;
    outline: none;
    padding: 9px;
    padding-bottom: 1.5px;
    font-size: 28px;
    text-align: center;
    margin: 18px;
    margin-top: 9px;
    transition: 1s ease;
}

input:hover {
    border-bottom: 1px solid antiquewhite;

}

input:focus {
    color: rgb(28, 28, 31);
    background: antiquewhite;
    box-shadow: 12px 12px 18px 32px rgba(0, 0, 0, .3);
    border-radius: 4px;
    transition: 1s ease;
}


.form_container {
    margin-top: 28px;
    border: 1px solid rgb(146, 137, 125);
    border-radius: 4px;
    transition: 1s ease;
}

.form_container:hover {
    border: 1px solid antiquewhite;
    box-shadow: 1px 1px 1px 1px rgba(255, 254, 253, .25);

}

.form_heading {
    margin-top: 24px;
}

.link {
    text-decoration: none;
    color: rgb(187, 176, 161);
    transition: 1s ease;
}

.cta {
    margin: 12px;
    margin-bottom: 28px;
    border: 1px solid antiquewhite;
    border-radius: 4px;
    background: transparent;
    width: 400px;
    padding: 12px;
    color: rgb(190, 179, 164);
    font-size: 20px;
    font-weight: bold;
}

.cta:hover {
    color: rgb(28, 28, 31);
    background: antiquewhite;
    box-shadow: 12px 12px 18px 32px rgba(0, 0, 0, .3);
    transition: 1s ease;
}

.author {
    text-decoration: none;
    color: rgb(187, 176, 161);
    transition: 1s ease;
}

.author:hover {
    color: antiquewhite;
}

.footer {
    background: linear-gradient(to left, rgb(13, 13, 17), rgb(28, 28, 31));
    box-shadow: 12px 12px 18px 32px rgba(0, 0, 0, .3);
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 60px;
    text-align: center;
}